<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:4147359534. -->
<div class="max-w-screen-xl  h-0 relative z-0 xs:px-8 sm:px-8  justify-self-center items-center text-center">
    <p class=" text-white md:text-lg relative">We've weathered storms, both big, and small, and found our
        strength, standing tall. Each passing day, a precious art, you've stolen a piece of my weary heart.
    </p>
    <p class=" text-white relative pt-5 md:text-lg">-Mervin Jude Toroy
    </p>
</div>