/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply z-0 bg-customBlack top-0 left-0
}

.BebasStyle {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}
